/*  
.product-card {
  background: #fff;
  padding: 1rem;
  width: 100%;
  text-align: center;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.product-card:hover {
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}

.product-img {
  width: 100%;
  height: 230px;
  object-fit: contain;
  border-radius: 10px;
  margin-bottom: 8px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.price-box {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 0.5rem 0;
}

.new-price {
  color: #ff9a3c;
  font-weight: bold;
}

.old-price {
  color: #999;
  text-decoration: line-through;
}

.desc {
  font-size: 14px;
  color: #666;
}

.rating {
  margin-bottom: 10px;
  color: #ffb400;
  font-weight: bold;
} */











 



.product-card {
  background: #fff;
  border-radius: 15px;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.product-card:hover {
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}

.product-img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.price-box {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 0.5rem;
}

.new-price { color: #ff9a3c; font-weight: bold; }
.old-price { color: #999; text-decoration: line-through; }

.desc { font-size: 14px; color: #666; }

.rating { color: #ffb400; font-weight: bold;text-align: center; }

.tit  a {
 font-size: 22px;
 color: #ff9a3c;
} 