 .home-hero {
  background-image: url('/src/assets/img/banner_bg01.jpg');
  background-size: cover;
  background-position: center;
  padding: 6rem 0;
  color: white;
height: auto;

}
.hero-image {
  width: 600px;
  height: 454px;
}
.hero-text {
  width: 950px;
}
.hero-text p {
  font-size: 28px;
  font-weight: bold;
  height: 400px;
  line-height: 45px;

}
.hero-image {
  position: relative;
}
 .layer  {
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
  opacity: 0;
  transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
}

.layer.layer1 {
 z-index: 1;
 transform:rotate(-8deg) translateX(-40px) ;
 -webkit-transform:rotate(-8deg) translateX(-40px) ;
 -moz-transform:rotate(-8deg) translateX(-40px) ;
 -ms-transform:rotate(-8deg) translateX(-40px) ;
 -o-transform:rotate(-8deg) translateX(-40px) ;
}

.layer.layer2 {
 z-index: 2;
 transform: rotate(0deg);
 -webkit-transform: rotate(0deg);
 -moz-transform: rotate(0deg);
 -ms-transform: rotate(0deg);
 -o-transform: rotate(0deg);
}

.layer.layer3 {
  z-index: 3;
  transform:rotate(8deg) translateX(40px) ;
  -webkit-transform:rotate(8deg) translateX(40px) ;
  -moz-transform:rotate(8deg) translateX(40px) ;
  -ms-transform:rotate(8deg) translateX(40px) ;
  -o-transform:rotate(8deg) translateX(40px) ;
} 



.btn-orangehome {
  background: #ff9a3c;
  border: none;
  color: #fff;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  width: 300px;
  height: 50px;
}
.btn-orangehome:hover{
  color: #ff9a3c;
  background-color: #fff;
  border: 1px solid #ff9a3c;
} 













