 .navbar * {
  pointer-events: auto !important;
  z-index: 2;
}
.navColor {
  background: #3D464D;
  height: 120px;
  width: 100%;
  position: relative;
  z-index: 1000;
}
.lineLink ,.linein {
  position: relative;
  font-size: 18px;
  gap: 22px;
  font-weight: 700;
}
.navbar .nav-link:hover,
.navbar .nav-item a:hover {
  color: #E99239 !important;
  transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
}
.navbar .nav-item a svg:hover {
  color: #E99239 !important;
  transform: scale(1.2);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.lineLink::after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 4px;
  height: 40px;
  background: #E99239;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
form {
  width: 333px;
  height: 44px;
}
form input {
  font-size: 14px;
  font-weight: 400;
  outline: none;
 
}
 .form-control {
  color: black;
  border: 2px solid #E99239;
}
.search-input:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

.iconsearch {
  background-color: #E99239;
  color: #fff;
  border: none;
  padding-inline: 10px;
  border-radius: 5px 0 0 5px;
  width: 45px;
  height: 44px;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
}
.iconsearch:hover {
  background-color: #3D464D;
  color: #fff;
  border: 1px solid #E99239;
}
.nav-item .shopping {
  width: 35px;
  height: 35px;
}
.nav-item .bookmark {
  width: 22px;
  height: 32px;
}
.nav-item .user {
  width: 32px;
  height: 32px;
}
.nav-item .dropdown-toggle {
  width: 55px;
  height: 42px;
}
.logo {
  width: 100px;
  height: 110px;
}
.navbar-toggler {
  background-color:#E99239;
 color: #E99239 ;
  width: 50px;
 
 
}
@media (max-width: 992px) {
  .menuCollapse {
    background-color: #3D464D; 
    text-align: center;        
    padding: 15px 0;          
  }

  .menuCollapse .nav-item {
    display: block;
    margin: 10px 0;
  }
  .lineLink::after {
    display: none;
  }

  .menuCollapse form  {
    justify-content: center;
  }

  .menuCollapse .navbar-nav.d-flex {
    justify-content: center;
  }
  .navbar-collapse {
    background-color: #3D464D !important; 
    width: 100%;
    position: absolute;
    top: 100%;  
    right: 0;
    z-index: 999;
    padding: 10px 0;
    text-align: center;
  }
  .navbar-brand {
    position: relative;
    z-index: 1001;
  }
  .navbar-toggler {
    border: none;
    z-index: 1002;
  }
  .form input  {
    display: flex;
    justify-content: center !important;
    text-align: center;
  }
}

