.promo-section {
  border-radius: 20px;
  padding: 4rem 3rem;
  direction: rtl;
}

.promo-title {
  color: #ff9a3c;
  font-size: 30px;
  font-weight: 800;
  line-height: 1.6;
  margin-bottom: 20px;
}

.promo-desc {
  color: #333;
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 30px;
}


.lio {
 background-color:  #E992394D;
 height: 500px;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.promo-image {
  border-radius: 15px;
  max-height: 300px;
  object-fit: cover;

 
  
}
@media (max-width: 992px) {
  .promo-section {
    text-align: center;
    padding: 2rem 1rem;
  }

  .promo-title {
    font-size: 24px;
  }

  .promo-desc {
    font-size: 16px;
  }

  .promo-image {
    margin-top: 20px;
  }
}
