.site-footer {
  background: #3f484d;
  color: #e9ecef;
  font-family: 'Cairo', sans-serif;
}
.footer-logo {
  height: 56px;
}
.small {
  font-size: 20px;
  line-height: 1.6;
}
.form-control {
  direction: rtl;
  /* font-size: 16px;
 padding: 5px 0; */
}
 .mar {
   margin-top: 20px;  
  width: 500px;
} 
 .search-input {
  border: none;
  border-bottom: 2px solid #000;
  border-radius: 0;
}

.search-input:focus {
  box-shadow: none;
  border-bottom: 2px solid #ff7a00;
}



.footer-title {
  font-size: 30px;
  color: #e9ecef;
  font-weight: 600;
}
.list-unstyled a {
  margin-bottom: 15px;
  font-size: 20px;
  transition: 0.3s ;
  -webkit-transition: 0.3s ;
  -moz-transition: 0.3s ;
  -ms-transition: 0.3s ;
  -o-transition: 0.3s ;
  display: block;
  text-decoration: none;
  color: #e9ecef;
}
.list-unstyled a:hover {
  color: #ff9a3c;
}
.list-unstyled .icon {
  color: #ff9a3c;
}
.social-btn {
  background: #e9ecef;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  border: none;
  margin-left: 8px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  text-align: center;
  color: #ff9a3c;
}
.social-btn:hover{
 background-color: #ff9a3c;
  color: white;
 
}
.btn-orange {
  background: #ff9a3c;
  border: none;
  color: white;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.btn-orange:hover {
  background-color: #e9ecef;
  color: #ff9a3c;
   border: 1px solid #ff9a3c;
   cursor: pointer;
}
.payments img {
  max-height: 32px;
}
.fr {
  background-image: url('/src/assets/img/Frame\ 28.png');
  font-size: 20px;
  height: 83px;
}
.dv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
